<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>PRMapSelectorNG</title>
    <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
    <link rel="stylesheet" href="pr_map_selector.css">
  </head>
  <body>
    <h1>先行試作型PRMapSelectorNG</h1>
    <h2>twig 実装版</h2>
    <div class="filters">

      <div class="ui-group">
	<h3>マップサイズ</h3>
	<div class="button-group filters-button-group" data-filter-group="map_size">
	  <button class="button is-checked" data-filter="*">全て</button>
	  <button class="button" data-filter=".1km">1km</button>
	  <button class="button" data-filter=".2km">2km</button>
	  <button class="button" data-filter=".4km">4km</button>
	  <button class="button" data-filter=".8km">8km</button>
	</div>
      </div>

      <div class="ui-group">
	<h3>ゲームモード</h3>
	<div class="button-group filters-button-group" data-filter-group="game_mode">
	  <button class="button is-checked" data-filter="*">全て</button>
	  <button class="button" data-filter=".AAS">AAS</button>
	  <button class="button" data-filter=".INS">INS</button>
	  <button class="button" data-filter=".C">C&amp;C</button>
	</div>
      </div>

      <br>

    </div> <!-- end filters -->

    <hr />
    <form action="select.php" method="post">
      <input type="hidden" name="" />
      <input type="submit" name="send" id="send" value="ルールを選択する" />

      <hr />
      <div class="grid">
	{% for map in maps %}
	<label for="map_{{map.mapid}}">
	  <div class="element-item nbox {{map.mapsize}}km {{map.AAS}} {{map.INS}} {{map.C}}">
	    <img src="img/{{map.mapid}}.jpg" alt="{{map.mapname}}" width="240" height="135" />
	    <input type="checkbox" value="1" class="checkbox" name="map[{{map.mapid}}]" id="map_{{map.mapid}}" />
	    {{map.mapname}}
	  </div>
	</label>
	{% endfor %}
    </form>
    <script src="js/main.js"></script>
  </body>
</html>
